
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="signup-form ">
                <h2 style="margin-left:15px">Bilgileriniz Güncellenmiştir.</h2>
                <h2 style="margin-left:15px"><a href="/Home/Index">Buradan anasayfaya dönebilirsiniz.</a></h2> 
            </div>
        </div>
    </div>
</div>



